<!DOCTYPE html>
<html>
<head>
	<title>Landing Page</title>
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/landing.css">

</head>
<body>
<div id=landing-header>
	<h1>Welcome to YelpCamp</h1>
	<a class="btn btn-success" href="/campgrounds"> View campgrounds </a>
</div>
<ul class=slideshow>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
</body>
</html>
<!-- <%- include ("partials/footer") %> -->